@media print, (max-width: 1187px) {

    :root {
        --font_size: 16px;
        --font_size_title: 40px;
    }
    .about_left {
        width: 500px;
    }
    .about_img:nth-child(1) {
        height: 378px;
        margin-bottom: 16px;
    }
    .about_info {
        width: calc(100% - 530px);
    }
    .block {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .technology {
        margin-bottom: 60px;
    }
    .contacts {
        padding-top: 60px;
    }
    .service {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .text p br {
        display: none;
    }
   



}
