@media print, (max-width: 767px) {

    :root {
        --font_size: 15px;
        --font_size_title: 36px;
    }
    header .mob_menu_btn {
        display: flex;
        order: -1;
    }
    header .menu {
        position: fixed;
        z-index: 107;
        top: 49px;
        left: 0;

        display: flex;
        overflow: auto;

        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 0px 20px;

        transition: transform .3s linear;
        transform: translateX(-100%);

        background: #2A292F;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    header .menu.show {
        transform: translateX(0);
    }
    header .close_btn {
        display: flex;
    }
    .menu_open header .mob_menu_btn {
        display: none;
    }
    header .menu .item {
        width: 100%;
        margin-right: 0;
    }
    header .menu .item + .item {
        margin-left: 0;
    }
    header .menu .item > a {
        display: block;
        height: auto;
        padding-bottom: 15px;
        text-align: center;
        color: #fff;
        border-bottom: none;
    }  
    .mob_menu_btn span {
        position: relative;
        display: block;
        width: 30px;
        height: 2px;
        transition: background .2s linear;
        background: #000; 
    }
    .mob_menu_btn span:before, 
    .mob_menu_btn span:after {
        position: absolute;
        top: -8px;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        transition: .2s linear;
        background: #000;
    }
    .mob_menu_btn span:after {
        top: 8px;
    }
    .mob_menu_btn.active span {
        background: transparent;
    }
    .mob_menu_btn.active span:before {
        top: 0;
        transform: rotate(45deg);
    }
    .mob_menu_btn.active span:after {
        top: 0;
        transform: rotate(-45deg);
    }
    .menu_open header {
        background: #2A292F;
    }
    header .close_btn {
        display: none;
    }
    .menu_open header .close_btn {
        display: block;
        top: 8px;
        right: 30px;
    }
    .mob_menu_btn {
        width: 45px;
    }
    .mob_menu_btn img {
        width: 24px;
    }
    .header_logo-mob {
        display: block;
        width: 121px;
        height: 32px;
    }
    .header_logo {
        display: none;
    }
    .header_contacts {
        display: none;
    }
    header {
        padding-top: 10px;
        padding-bottom: 72px;
    }
    .header_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .mob_menu_btn {
        margin-left: 0;
    }
    .header_contacts-mob {
        display: block;
    }
    .header_map {
        display: block;
    }
    .header_contacts-mob {
        padding: 24px 0;
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 26px;
    }
    .header_contacts-mob:after {
        position: absolute;
        content: "";
        width: calc(100% + 40px);
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        background: #414048;
        z-index: 2;
    }
    .header_contacts-mob:before {
        position: absolute;
        content: "";
        width: calc(100% + 40px);
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
        background: #414048;
        z-index: 2;
    }
    .header_contacts-link {
        display: inline-block;
    }
    .header_contacts-soc {
        justify-content: center;
    }
    .header_contacts-soc a:first-child {
        margin-left: 0;
    }
    .overlay {
        top: 48px;
    }
    .header_top {
        position: fixed;
        z-index: 890;
        background: #2A292F;
        width: 100%;
        margin: -125px -20px -10px;
        padding: 13px 20px 12px;
    }
    .header_bottom {
        margin-top: 115px;
    }

    .modal_callback {
        padding: 25px 16px 26px;
    }
    .fancybox__content>.carousel__button.is-close {
        top: 15px;
        right: 10px;
    }
    .advantages_item-img {
        width: 64px;
        height: 64px;
        margin: 0px auto 15px;
        flex-shrink: 0;
    }
    .advantages_item:nth-child(1) img {
        width: 35px;
        height: 32px;
    }
    .advantages_item:nth-child(2) img {
        width: 32px;
        height: 32px;
    }
    .advantages_item:nth-child(3) img {
        width: 38px;
        height: 25px;
    }
    .advantages_item:nth-child(4) img {
        width: 32px;
        height: 32px;
    }
    .advantages_item:nth-child(5) img {
        width: 39px;
        height: 28px;
    }
    .advantages_item:nth-child(6) img {
        width: 25px;
        height: 35px;
    }
    .advantages_item-title {
        font-size: 16px;
        line-height: 1.2;
    }
    .advantages_items {
        margin-left: -20px;
        margin-bottom: -20px;
    }
    .advantages_items > * {
        width: calc(100%/2 - 20px);
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .advantages_item-title br {
        display: none;
    }
    .technology {
        background: #F6F5F5;
    }
    .technology_wrap {
        padding: 0;
        padding-top: 20px;
        border: none;        
    }
    .technology_text {
        text-align: start;
    }
    .hide-content {
        display: none;
    }
    .show-more {
        display: block;
        color: #7e6281;
        border-bottom: 1px dotted #7e6281;
    }
    .service {
        padding-top: 40px;
    }
    .contacts_info-phone {
        font-size: 20px;
    }
    .contacts_info-adres,
    .contacts_info-graffik,
    .contacts_info-email {
        font-size: 16px;
    }
    .contacts_img {
        top: calc(100% + 340px);
        left: 0;
        right: 0;
    }
    .contacts .map_wrap {
        height: 340px;
    }
    footer .cont {
        flex-direction: column;
    }
    .footer_copyright {
        margin-bottom: 13px;
    }
    .footer_link {
        margin-bottom: 13px;
    }
    .service_item-title {
        margin-top: 18px;
        font-size: 20px;
    }
    .about_img:nth-child(1) {
        margin-bottom: 8px;
    }
    .about_img:nth-child(2) {
        width: calc(50% - 4px);
    }
    .about_img:nth-child(3) {
        width: calc(50% - 4px);
    }
    .contacts_img {
        display: none;
    }
    .contacts_img-mob {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
    }

    


  





}
