@media print, (max-width: 1023px) {
 
    :root {
        --font_size: 15px;
        --font_size_title: 40px;
    }
   
    header .menu .item {
        margin-right: 30px;
    }
    .header_bottom-title {
        font-size: 58px;
        padding-top: 25px;
    }

    

    
}
